# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables
.env
.env.local
*.env
backend/.env
backend/chroma_db/
chroma_db/
__pycache__/
.venv/

# Node / React
node_modules/
dist/
build/

# OS files
.DS_Store

# VS Code
.vscode/

# Chroma local DB
chroma/
chroma_db/

# Logs
*.log